h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    text-align: center;
    font-size: 42px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
	text-align: center;
	font-size: 30px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.crous {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(234, 0, 0);
    border: 5px solid rgb(132, 2, 2);
    border-radius: 10px;
}

.item {
    margin: 20px;
    width: 30%;
    height: 35vh;
    margin-top: 10px;
    border-radius: 20px;
}

.closed {
    background: rgb(218, 218, 218);
    color: rgb(73, 73, 73);
    border: 5px dashed rgb(73, 73, 73);
}

.opened {   
    color: rgb(255, 255, 255);
}

.item.poisson.opened {
    border: 5px solid rgb(26, 50, 88);
    background: rgb(60, 103, 183);
}

.item.platdujour.opened {
    border: 5px solid rgb(67, 26, 88);
    background: rgb(155, 62, 160);
}

.item.grillade.opened {
    border: 5px solid rgb(55, 39, 11);
    background: rgb(149, 115, 56);
}

.item.saladerie.opened {
    border: 5px solid rgb(28, 88, 26);
    background: rgb(70, 196, 80);
}

.item.pates.opened {
    border: 5px solid rgb(107, 97, 18);
    background: rgb(222, 205, 96);
}

.item.pizza.opened {
    border: 5px solid rgb(90, 0, 0);
    background: rgb(222, 111, 96);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}